/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/

section.voiceai-info-card {
	position: absolute;
	top: 8px;
}
.start-btn {
	width: 25px;
	background: none;
}
